.admin {
    /*FIXME не правильно отображается в хроме,edge*/
    background:   url(/animal/resources/background/Geometric-Icons016.jpg);
    background-size: contain  ;
}
.crud {
    background:  darkcyan;
}