.create_Animal {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.input_media {
	width: 50%;
	min-width: 300px;
	display: flex;
	justify-content: space-between;
}

.button.save_Category,
.button.save_Animal {
	margin-bottom: 0;
}

@media (max-width: 500px) {
	.input_media {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.input_Img,
	.input_Sound {
		margin-left: 0;
	}
}
