.er404 {

    background:   url(/animal/resources/background/er.gif);
    background-size: auto  ;
}

.er500 {

    background:   url(/animal/resources/background/er500.gif);
    background-size: auto  ;
}