@import "run.css";
@import "getAnimal.css";
@import "getAll.css";
@import "admin.css";
@import "status.css";


td {
    border: 1px solid black;
    padding: 5px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.href__index {
    width: 100px;
    height: 100px;
}

.lang {
    float: right;
    color: bisque;
}

.href {
    color: bisque;
}
.h3{
    color: bisque
}


